# Archera
alias login='aws-login-archera developer'
alias login-admin='aws-login-archera admin'
alias login-ops='aws-login-archera operations'
alias login-ro='aws-login-archera readonly'
alias archera='aws-export-archera developer'
alias archera-admin='aws-export-archera admin'
alias archera-ops='aws-export-archera operations'
alias archera-ro='aws-export-archera readonly'

# Github
alias commits='git log --pretty=oneline | head -n'
alias fetch='git pull && git fetch -p'
alias push='git push'
alias staging='API_URL=http://localhost:5002 make start'
alias production='API_URL=http://localhost:5003 make start'

# Change Directory
alias blog='cd ~/Code/personal-projects/nwcalvank.dev/'
alias dev='cd ~/Code/development-environment/'
alias rust='cd ~/Code/personal-projects/rust/'
alias work='cd ~/Code/archera/reserved-ai/server && archera'
