# Archera
alias login='login-ops && archera-ops'
alias login-admin=''
alias login-dev='aws sso login --profile archera-developer'
alias login-ops='aws sso login --profile archera-operations'
alias login-ro=''
alias archera-admin=''
alias archera-dev='eval "$(aws configure export-credentials --profile archera-developer --format env)"'
alias archera-ops='eval "$(aws configure export-credentials --profile archera-operations --format env)"'
alias archera-ro=''
alias staging='API_URL=http://localhost:5002 make start'
alias production='API_URL=http://localhost:5003 make start'

# Github
alias commit='git commit -m'
alias commits='git log --pretty=oneline | head -n'
alias fetch='git pull && git fetch -p'
alias push='git push'

# Change Directory
alias blog='cd ~/Code/personal-projects/nwcalvank.dev/'
alias code='cd ~/Code/$PRIMARY_PROJECT'
alias dev='cd ~/Code/development-environment/'
alias lab='cd ~/Code/homelab/'
alias work='cd ~/Code/archera/reserved-ai/server && archera'
